.modal #close{
    float:right;
    color:black;
    font-size:15px;
    font-weight:bold;
}
.modal #close:hover{
   color:#323536;
}
.modal a{
    text-decoration:none;
}
.modal {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    width:371px;
    height:385px;
    align-content: center;
    margin:2px;
    border-radius:10px;
   background-color:#e5f3fa;
}
.modal h3{
    font-size:30px;
    padding-bottom:0px;
}
.modal form p {
    margin-top:-30px;
    font-size:14px;
}
.modal form{
    text-align:left;
    padding:10px 0 0 25px;
}
.modal input{
    border:1px solid #444444;
    padding: 10px;
    margin:10px 2px 10px 2px;
    color:#999;
    width:300px;
    background-color:#333;
}
.modal button {
    text-transform:uppercase;
    width:325px;
    background-color:#3098DC;
    margin-top:10px;
    padding:8px 11px 8px 11px;
    border-radius:6px;
    color:white;
}
.modal button:hover {
    background-color:#3ba4e8;
}
#signUp{
    font-size:0.8em;
    color:#46BFF3;
}
.modal #forgotPassword{
    padding:40px 20px 0 55px;
    font-size:0.8em;
    color:#46BFF3;
}
.modal .modalFooter{
    padding-top:40px;
    margin:0;
}
.modal #haveAnAccount{
    padding-left:100px;
    font-size:0.8em;
    color:#46BFF3;
}
.modal .modalFooterRegister {
    padding-top:20px;
    margin-bottom:-20px;
}
.modal .modalFooter a, .modalFooterRegister a {
    color:#46BFF3;
}